body {
  background: aliceblue;
}

.spiner-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25em;
  gap: 2em;
}

.lds-hourglass-1,
.lds-hourglass-2,
.lds-hourglass-3,
.lds-hourglass-4 {
  width: 80px;
  height: 80px;
}
.lds-hourglass-1 {
  position: relative;
  top: -150px;
}
.lds-hourglass-2 {
  position: relative;
  top: 38em;
}

.lds-hourglass-3 {
  position: relative;
  top: -19em;
  left: 114em;
}

.lds-hourglass-4 {
  position: relative;
  top: 29em;
  left: 114em;
}

.lds-hourglass-1,
.lds-hourglass-2,
.lds-hourglass-3,
.lds-hourglass-4:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
